/venv/**
/dist/**
/build/**
microsoft_reward_bot.spec
.idea/**
/inputs_outputs/*.log
**/__pycache__/**
desktop.ini
Command Prompt
**/migrations/**
**/migrations/
*.~vsdx
**/**/*.sqlite3
*.sqlite3
**/**/*.coverage
**/htmlcov/
**/**/*.log
*.log